.pricing{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
} 

.pricing_1,.pricing_2,.pricing_3,.pricing_4{
    width: 25rem;
    position: absolute;
    
}

.pricing_1{
    transform: rotate(170deg);
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    top: -9rem;
    left: -10rem;
}

.pricing_4{
    transform: rotate( 131deg);
    -webkit-transform: rotate( 131deg);
    -moz-transform: rotate( 131deg);
    -ms-transform: rotate( 131deg);
    -o-transform: rotate( 131deg);
    bottom: -9rem;
    right: -11rem;
}

.pricing_2{
    transform: rotate( 47deg);
    -webkit-transform: rotate( 47deg);
    -moz-transform: rotate( 47deg);
    -ms-transform: rotate( 47deg);
    -o-transform: rotate( 47deg);
    top: -13rem;
    right: -6rem;
}
.pricing_3{
    transform: rotate( 296deg);
    -webkit-transform: rotate( 296deg);
    -moz-transform: rotate( 296deg);
    -ms-transform: rotate( 296deg);
    -o-transform: rotate( 296deg);
    bottom: -7rem;
    left: -14rem;
}

.pricing_content{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 280px;
    border-radius: 0.5rem;

    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    padding:0 0.9rem;
    -o-border-radius: 0.5rem;
}
.card_main_1{
    border-bottom: 2px solid #65a9f8;
    position: relative;
}
.dollar{
    position: absolute;
    font-size: 1.4rem;
    color: #65a9f8;
    margin-top: 0.7rem;
    left: 34%;
    font-weight: bold;
}
.regiser_link{
    position: absolute;
    margin-top: 20px;
    margin-left:-60px;
}

.dollar_1{
    left: 22%;
}

@media screen and (max-width:900px) {
    .pricing_1,.pricing_2,.pricing_3,.pricing_4{
        width: 23rem;
    }
    .pricing_content{
        display: block;
        margin: auto;
    }
    .card{
        margin-bottom: 2rem;
        height: 25rem;
        width: 25rem;
    }
}
@media screen and (max-width:450px) {
    
    .card{
        margin-bottom: 2rem;
        height: 25rem;
        width: 20rem;
    }
    .pricing_1,.pricing_2,.pricing_3,.pricing_4{
        width: 21rem;
    }
    .pricing_4{
        
        bottom: -9rem;
        right: -10rem;
    }
    .pricing_3{
        bottom: -10rem;
        left: -10rem;
        transform: rotate( 215deg);
        -webkit-transform: rotate( 215deg);
        -moz-transform: rotate( 215deg);
        -ms-transform: rotate( 215deg);
        -o-transform: rotate( 215deg);
}
    
.pricing_footer{
    margin-top:-1rem;
    padding-bottom: 2rem;
    
}
.pricing_footer >a:nth-child(1){
    padding:0.2rem 6rem;
}
.pricing_footer >a:nth-child(2){
    padding:0.2rem 0;
}
}